*body, ul, li {
    margin: 0; 
    padding: 0; 
    list-style: none;
}
a {
    color: inherit; 
    text-decoration: none;
}

.main > ul ul {
    display: none;   
    position: absolute; /*전체메뉴*/
    top: 100%;
    left: 0;
}
.main > ul ul ul {
 left: 100%;
 top: 0%;
 width: 100%;
}

.main ul {
    background-color: #dfdfdf;

}

.main > ul {
    background-color: #dfdfdf;
    display: inline-block;
    padding: 0 10px;
    border-radius: 0px;
}
.main {
    text-align: center;
}
.main > ul > li {
    display: inline-block;
    position: relative;
}
.main ul > li {
     position: relative; /* 3차메보이기 */
}
.main ul > li > a {
    display: block;
    padding: 10px;
   /* white-space: nowrap;*/
}
.main ul > li:hover > a {
    background-color: black;
    color: white;
}
.main ul > li:hover > ul {
    display: block;
}

